@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Satisfy&display=swap');

body {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
  background-image: linear-gradient(to bottom, #f3f3ef, #f5f5e9, #f6f6e3, #f7f8dc, #f8fad6); ;
}

code {

}
